@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
  --verde: #008000;
  --vermelho: #8B0000;
  --branco: #ffffff;
}

body {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

.logo {
  height: 60px;
}

header {
  background-color: var(--verde);
}

.nav-link {
  color: var(--branco);
  font-weight: 600;
}

.inicio-fundo {
  background-image: url('img/vinhedo.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 400px;
  padding: 40px;
  margin: 0 auto;
}

.display-4 {
  text-shadow: -3px 3px var(--vermelho);
}

.btn-inicio {
  background-color: var(--vermelho);
  border-radius: 30px;
  border: none;
  width: 14em;
  height: 3em;
  color: var(--branco);
  font-weight: bold;
}

#historia img {
  margin-top: 20px;
}

#galeria {
  background-color: #faf4f4;
  padding: 2rem;
  border-radius: 10px;
}

.btn-vermelho {
  background-color: var(--vermelho);
  color: var(--branco);
  border: none;
}

.btn-vermelho:hover {
  background-color: #a52a2a;
}

footer {
  font-family: 'Lemon', serif;
}

.menu-acessibilidade {
  position: fixed;
  top: 2rem;
  right: 20px;
  z-index: 1000;
}

.rotacao-botao {
  transform: rotate(-90deg);
  transform-origin: right center;
}

.opcoes-acessibilidade {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.opcoes-acessibilidade button {
  margin-bottom: 5px;
}

.apresenta-lista {
  display: none;
}
